/* To Do:
. Add media queries
. Enable responsive imagery
. Add another card row
. link cards to repos.
. Add contac tme section.


*/

/*
.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    float:right;
    margin-right: 100px;
    
}
*/

/* Header Section */
.title {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.subtitle {
    font-size: 30px;;
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}
/* NavBar Section */

#nav-buttons {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* About Me Section */

.about-me {
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}

/* Card Styling */
.card {
    
    padding:30px;
    margin-top: 50px;
    background-color: aquamarine;
}

.card-img-top{
height:500px;
}

.card-title {
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text {
    font-family:'Courier New', Courier, monospace;
}


/* This will style all card img */

/* This will style the footer elements */

.GitHub{
    font-size:60px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}





