
.nav-item {
    display:flex;
    align-content: row;
    float:right
}
.jumbotron {
    background-color:darkgray;
    display:flex;
}

.display-4 {
    font-size:40px;
}

ul {
    display:flex;
    align-items: flex-end;
   
}

