/* To Do:
. Add media queries
. Enable responsive imagery
. Add another card row
. link cards to repos.
. Add contac tme section.


*/

/*
.navbar {
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    float:right;
    margin-right: 100px;
    
}
*/

/* Header Section */
.title {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.header {
    background-color: #D3D3D3;

}

.subtitle {
    font-size: 30px;;
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}
/* NavBar Section */

#nav-buttons {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container-fluid {
    background-color: #D3D3D3;
    
}

/* BODY */
.body {
    background-color: #D3D3D3;
}

/* About Me Section */

.about-me {
    display: flex;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
}

/* Card Styling */
.card {
    display: flex;
    padding:30px;
    margin-top: 50px;
    background-color: aquamarine;
    
}

.card-img-top{
height:500px;
}

.card-title {
    padding-top: 10px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text {
    font-family:'Courier New', Courier, monospace;
}

/* This will style all card img */

.row {
    display:flex;
    justify-content: center;
}

.row-2{
    display:flex;
    justify-content: center;
}

/* This will style the footer elements */

.container-contact-me{
    display:flex;
    justify-content: space-around;
    margin-top:50px;
    color: green;
    
}

/* FOOTER LINKS */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height:200px;
    background: grey
 }


.GitHub a {
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.spotify a {
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.email-me a {
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
}

.resume a {
    font-size:30px;
    font-family:Arial, Helvetica, sans-serif;
    color: white
}


@media  screen and (min-width:768px)

  {
    .card .card-img-top {
        height:250px;

      
        }

        .intro {
            margin-left:10px;
            margin-right: 10px;
        }
    }


